/* Slider Outer Wrapper */
.slider-outer {
  position: relative;
  width: 100%; /* Full viewport width */
  height: 120px; /* Adjusted the height for the outer container */
  max-width: 800px;
  overflow: hidden;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Slider Inner Container */
.slider-inner {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  padding-top: 0.75rem;
  animation: scroll 20s linear infinite; /* Infinite scrolling loop with adjusted speed */
  transform: translateX(
    -100%
  ); /* Initial translation to start in the middle of its motion */
}

/* Smooth Scrolling Keyframes */
@keyframes scroll {
  0% {
    transform: translateX(
      0
    ); /* Adjust to create the effect of the slider already in motion */
  }
  100% {
    transform: translateX(-100%); /* Move completely to the left */
  }
}

/* Style for Icons */
.slider-image {
  height: 100px; /* Adjust this height as needed for the icons */
  margin: 0 15px; /* Adjust spacing between icons */
  object-fit: contain; /* Maintain aspect ratio */
}

/* Gradient Fade Effect */
.slider-outer:before,
.slider-outer:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 200px;
  z-index: 2;
}

.slider-outer:before {
  left: 0;
  background: linear-gradient(to right, #f7f7f8, rgba(247, 247, 248, 0));
  width: 50px;
}

.slider-outer:after {
  right: 0;
  background: linear-gradient(to left, #f7f7f8, rgba(247, 247, 248, 0));
  width: 50px;
}
