@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("../src/assets/fonts/Inter-Italic-VariableFont_opsz_wght.woff")
    format("woff");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("../src/assets/fonts/Inter-VariableFont_opsz_wght.woff")
    format("woff");
  font-weight: 100 900;
  font-style: normal;
}

/* Extend Tailwind with custom keyframes and classes */
@layer utilities {
  @keyframes budgetShiny {
    0% {
      transform: scale(0) rotate(45deg);
      opacity: 0;
    }
    93% {
      transform: scale(0) rotate(45deg);
      opacity: 0.1;
    }
    95% {
      transform: scale(4) rotate(45deg);
      opacity: 0.6;
    }
    100% {
      transform: scale(50) rotate(45deg);
      opacity: 0;
    }
  }

  .link-shiny::before {
    position: absolute;
    content: "";
    display: inline-block;
    top: -4px;
    left: 0;
    width: 8px;
    height: 50%;
    background-color: #fff;
    animation: budgetShiny 6s ease-in-out infinite;
    pointer-events: none;
    overflow: hidden;
  }
}
.glowing-outline {
  filter: drop-shadow(0 0 2px #ff833f) drop-shadow(0 0 10px #ff833f);
}
.filter-dialog {
  overflow: hidden;
  transition:
    max-height 0.4s ease-out,
    opacity 0.4s ease-out;
  opacity: 0;
  max-height: 0;
}

.filter-dialog.active {
  opacity: 1;
  max-height: 300px; /* Adjust max-height based on your content size */
}
.modal-overlay {
  position: fixed; /* Ensures it's fixed to the viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Same as bg-opacity-50 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}
.input {
  @apply border border-gray-300 rounded-lg p-3 w-full focus:outline-none focus:ring-2 focus:ring-blue-500 transition duration-200;
}

.dropdown {
  @apply border border-gray-300 bg-white max-h-48 overflow-y-auto rounded-lg shadow-lg;
}

.dropdown-item {
  @apply p-2 hover:bg-blue-100 cursor-pointer transition duration-200;
}
.container {
  display: grid;
  place-items: center;
  padding-block: 5rem;
}
.card__container {
  display: grid;
  row-gap: 3.5rem;
}
.card__article {
  position: relative;
  overflow: hidden;
}
.card__img {
  width: 328px;
  border-radius: 1.5rem;
}
.card__data {
  width: 280px;
  background-color: var(--container-color, white);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;
}

.card__title {
  font-size: var(--h2--font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 0.75rem;
}
.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}
.card__button:hover {
  text-decoration: underline;
}

.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}
.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }
  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
  .container {
    margin-inline: 2rem;
  }
}

@media screen and (min-width: 1120px) {
  .container {
    margin-inline: none;
  }
  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}
